// Variable overrides

// flat bg color
$bg-primary: #145093;
// transition colors
$bg-secondary: #1b8889;
$bg-tertiary: #aebd14;
// button radius
//$btn-border-radius: 30px;

// nav bar link colors
$nav-link-color: #495057;
$nav-link-hover-color: #c9c9c9;
$nav-link-active-color: #aebd14;

// bootstrap component colors
//$primary: #ef7d00;
//$secondary: #aebd14;
